

.container-contato{
    width: 80%;
    max-width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px; 
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-contato{
    width: 280px;
    height: 280px;
}

.titulo-card-contato{
  font-size: 16;

}
.card-contato-email{
  width: 280px;
  height: 280px;
  transition: 0.1s ease-in-out;
	margin-left: 0;
	margin-right: auto;
	background-color: #92fbff5d;
	height: auto;
	border-radius: 5px;
	border: 2px solid rgb(90, 90, 90);
	flex: 1 0 320px;
}


.card-contato-instagram{
  transition: 0.1s ease-in-out;
	margin-left: 0;
	margin-right: auto;
	background-color: #b7ff885d;
	height: auto;
	border-radius: 5px;
	border: 2px solid rgb(90, 90, 90);
	flex: 1 0 320px;
  
}

.card-contato-telefone{
  transition: 0.1s ease-in-out;
	margin-left: 0;
	margin-right: auto;
	background-color: #dc40ff5d;
	height: auto;
	border-radius: 5px;
	border: 2px solid rgb(90, 90, 90);
	flex: 1 0 320px;
  
}


.card-contato-whatsapp{
  transition: 0.1s ease-in-out;
	margin-left: 0;
	margin-right: auto;
	background-color: #dc40ff5d;
	height: auto;
	border-radius: 5px;
	border: 2px solid rgb(90, 90, 90);
	flex: 1 0 320px;
  
}

.card-contato-linkedin{
  transition: 0.1s ease-in-out;
	margin-left: 0;
	margin-right: auto;
	background-color: #dc40ff5d;
	height: auto;
	border-radius: 5px;
	border: 2px solid rgb(90, 90, 90);
	flex: 1 0 320px;
  
}

.card-contato-github{
  transition: 0.1s ease-in-out;
	margin-left: 0;
	margin-right: auto;
	background-color: #dc40ff5d;
	height: auto;
	border-radius: 5px;
	border: 2px solid rgb(90, 90, 90);
	flex: 1 0 320px;
  
}