

/* Página de habilidades */

.caixola {
  max-width: 800px;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-bottom: 100px;
  flex-wrap: wrap;
  gap: 8px;
}

.card-habilidades-javascript {
  display: block;
  transition: 0.1s ease-in-out;
  margin-left: 0;
  margin-right: auto;
  align-items: center;
  width: 550px;
  background-color: #f0c1405d;
  height: auto;
  border-radius: 5px;
  border: 2px solid rgb(97, 97, 97);
  transition: 0.6s;
  flex: 1 0 80%;
}

.card-habilidades-javascript:hover {

  background-color: #f0c1408c;
  cursor: pointer;
}

.card-habilidades-html {
  transition: 0.4s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 320px;
  background-color: #53f4ff5d;
  height: auto;
  border-radius: 5px;
  border: 2px solid rgb(90, 90, 90);
  flex: 1 0 300px;
}

.card-habilidades-html:hover {
  background-color: #1bf0ff62;
  cursor: pointer;
}

.card-habilidades-computacao {
  transition: 0.1s ease-in-out;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 320px;
  background-color: #c4c4c45d;
  height: auto;
  border-radius: 5px;
  border: 2px solid rgb(90, 90, 90);
  flex: 1 0 300px;
}

.card-habilidades-computacao:hover {

  background-color: #86868662;
  cursor: pointer;
}

.card-habilidades-css {
  transition: 0.1s ease-in-out;
  margin-left: 0;
  margin-right: auto;
  width: 400px;
  transition: 0.5s;
  background-color: #ff53535d;
  height: auto;
  border-radius: 5px;
  border: 2px solid rgb(90, 90, 90);
  flex: 1 0 300px;
}

.card-habilidades-css:hover {
  background-color: #ff00005d;
  cursor: pointer;
}

.card-habilidades-python {
	transition: 0.1s ease-in-out;
	margin-left: 0;
  padding-right: 20px;
	margin-right: auto;
	background-color: #94ff565d;
	height: auto;
	border-radius: 5px;
	border: 2px solid rgb(90, 90, 90);
	flex: 1 1 180px;
  }

  .card-habilidades-python:hover {
	background-color: #7bff005d;
	cursor: pointer;
  }

.card-habilidades-c {
	transition: 0.1s ease-in-out;
	margin-left: 0;
	margin-right: auto;
	background-color: #dc40ff5d;
	height: auto;
	border-radius: 5px;
	border: 2px solid rgb(90, 90, 90);
	flex: 1 0 320px;
  }

  .card-habilidades-c:hover {
	background-color: #9f00c25d;
	cursor: pointer;
  }


.card-link {
  display: flex;
}

.card-link-text {
  padding: 10px;
}

.card-header {
  font-size: 35px;
  padding: 10px;
  padding-bottom: 20px;
  color: rgb(90, 90, 90);
  margin-top: 5px;
  margin-bottom: 4px;
  border-bottom: 1px dashed rgb(153, 153, 153);
}

ul {
  margin-top: -15px;
}

.codigo-habilidades {
  border-bottom: 1px dotted;
  font-family: monospace, serif;
  font-size: 13px;
}

.codigo-habilidades-css {
  border-bottom: 1px dotted;
  font-family: monospace, serif;
  color: rgb(19, 65, 105);
  font-size: 13px;
}

.card-paragrafo {
  padding: 10px;
  margin-left: 10px;
  color: rgb(51, 51, 51);
}

@media (max-width: 768px) {
  .card-habilidades-javascript,
  .card-habilidades-html,
  .card-habilidades-css,
  .card-habilidades-computacao {
    max-width: 900px;
  }
  .caixola {
    padding: 30px;
  }
}

.container-pg-habilidades{

  padding: 10px;
  justify-content: left;
  width: 90%;
  max-width: 800px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.header-habilidades{
  font-size: 45px;
  padding-bottom:  40px;
  border-radius: 5px;
}

article{
  padding-top: 20px;
  line-height: 1.8;
  text-justify: auto;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  font-size: 16px;
}

.artigo{
  padding-top: 20px;
  line-height: 1.8;
  text-justify: auto;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  font-size: 16px;
}

.blop{
  font-size: 16px;
  color: #001aff8e;
  text-decoration: solid;
}

.mono{
  font-family: 'Courier New', Courier, monospace;
}

.code-div {
  width: 90%;
  max-width: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto
}

@media (max-width: 768px) {
  .code-div{
    font-size: 95%;
    width: 90%;
  }
}


/* Sidebar */


.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #ffffff; 
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.4s; 
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}


/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
} */



.icon-sidebar{
  margin-top: 20px;
  text-align: center;
  margin-left: 35%;
  margin-right: 20%;
  width: 100px;
  height: auto;
}

.mini-linha-pontilhada {
  border-top: 1px dashed #8a8a8a;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.mini-divisoria{
  border-top: 1px dashed #8a8a8a;
  margin-top: 50px;
  opacity: 0.5;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;

}

.ver-mais{
  margin-right: 8%;
  font-size: 13px;
  color: #8a8a8a;
  margin-left: 10%;
}

.ver-mais a{
  text-decoration: none;
  font-size: 13px;
  color: #8a8a8a;

}

.texto-sidebar{
  text-justify: center;
  width: 80%;
  font-size: 15px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

.lista-sidebar{
  font-family: monospace;
  margin-top: 40px;
}

.lista-sidebar li{
  color: #414141;
}

.code-sidebar{
  padding: 2px;
  font-weight: 800;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  background-color: #1e1e3f;
  color: #5fdeff
}

.arrow-sidebar{
  position: absolute;
  right: 30px;
}

/* Botão de fechar side-bar */
.close {

  position: absolute;
  right: 20px;
  top: 75px;
  width: 20px;
  height: auto;
  opacity: 0.3;
}
.close:hover {
  transition: 1ms;
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 30px;
  width: 2px;
  background-color: #1d1d1d;
}
.close:before {

  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
