.caixola {
  max-width: 800px;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-bottom: 100px;
  flex-wrap: wrap;
  gap: 20px;
}

.card-habilidades-javascript {
  display: block;
  transition: 0.1s ease-in-out;
  margin-left: 0;
  margin-right: auto;
  align-items: center;
  width: 550px;
  background-color: #f0c1405d;
  height: auto;
  border-radius: 5px;
  border: 2px solid rgb(97, 97, 97);
  flex: 1 0 300px;
}

.card-habilidades-javascript:hover {
  scale: 105%;
  background-color: #f0c1408c;
  cursor: pointer;
}

.card-habilidades-html {
  transition: 0.1s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 320px;
  background-color: #53f4ff5d;
  height: auto;
  border-radius: 5px;
  border: 2px solid rgb(90, 90, 90);
  flex: 1 0 200px;
}

.card-habilidades-html:hover {
  scale: 105%;
  background-color: #1bf0ff62;
  cursor: pointer;
}

.card-habilidades-computacao {
  transition: 0.1s ease-in-out;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 320px;
  background-color: #c4c4c45d;
  height: auto;
  border-radius: 5px;
  border: 2px solid rgb(90, 90, 90);
  flex: 1 0 300px;
}

.card-habilidades-computacao:hover {
  scale: 105%;
  background-color: #86868662;
  cursor: pointer;
}

.card-habilidades-css {
  transition: 0.1s ease-in-out;
  margin-left: 0;
  margin-right: auto;
  width: 400px;
  background-color: #ff53535d;
  height: auto;
  border-radius: 5px;
  border: 2px solid rgb(90, 90, 90);
  flex: 1 0 300px;
}

.card-habilidades-css:hover {
  scale: 105%;
  background-color: #ff00005d;
  cursor: pointer;
}

.card-habilidades-python {
	transition: 0.1s ease-in-out;
	margin-left: 0;
	margin-right: auto;
	background-color: #94ff565d;
	height: auto;
	border-radius: 5px;
	border: 2px solid rgb(90, 90, 90);
	flex: 1 1 180px;
  }

  .card-habilidades-python:hover {
	scale: 105%;
	background-color: #7bff005d;
	cursor: pointer;
  }

.card-habilidades-design {
	transition: 0.1s ease-in-out;
	margin-left: 0;
	margin-right: auto;
	background-color: #dc40ff5d;
	height: auto;
	border-radius: 5px;
	border: 2px solid rgb(90, 90, 90);
	flex: 1 0 380px;
  }

  .card-habilidades-design:hover {
	scale: 105%;
	background-color: #9f00c25d;
	cursor: pointer;
  }


.card-link {
  display: flex;
}

.card-link-text {
  padding: 10px;
}

.card-header {
  font-size: 35px;
  padding: 10px;
  padding-bottom: 20px;
  color: rgb(90, 90, 90);
  margin-top: 5px;
  margin-bottom: 4px;
  border-bottom: 1px dashed rgb(153, 153, 153);
}

ul {
  margin-top: -15px;
}

code {
  border-bottom: 1px dotted;
  font-family: monospace, serif;
  font-size: 13px;
}

code-css {
  border-bottom: 1px dotted;
  font-family: monospace, serif;
  color: rgb(19, 65, 105);
  font-size: 13px;
}

.card-paragrafo {
  padding: 10px;
  margin-left: 10px;
  color: rgb(51, 51, 51);
}

@media (max-width: 768px) {
  .card-habilidades-javascript,
  .card-habilidades-html,
  .card-habilidades-css,
  .card-habilidades-computacao {
    max-width: 900px;
  }
  .caixola {
    padding: 30px;
  }
}

a {
	text-decoration: none;
	color: inherit;
}