
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@300;400;500;600;700&display=swap");


.container-sobre{
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px; 
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
}

.card-sobre{
    transition: 0.5s;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
    background-color: #ffa7a7;
    flex: 1 0 100px;
}


/* Card idade */
.card-sobre-idade{
    transition: 0.5s;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
    background-color: #fb6e85;
    flex: 1 0 100px;
}

.card-sobre-title-idade{

    font-weight: 800;
    color: white;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px dashed rgb(255, 255, 255);
}




.card-sobre-conteudo-idade{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 4px;
    text-align: center;
    color: rgb(255, 235, 235);;
    font-size: 80px;
}




/* Card hobbies */

.card-sobre-hobbies{
    transition: 0.5s;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
    background-color: #b8f2ff;
    flex: 1 0 250px;
}


/* Sobre esse site */
.card-sobre-hobbies{
    transition: 0.5s;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
    background-color: #b8f2ff;
    flex: 1 0 250px;
}



/* Card sobre mim */
.card-sobre-title{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px dashed black;
}

.card-sobre-descricao{
    padding: 10px;
    font-family: "PT Sans", sans-serif;
}

.card-sobre-mim{
    transition: 0.5s;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
    background-color: #FFB8AF;
    flex: 1 0 300px;
}



/* Card formação */
.card-sobre-formacao{
    transition: 0.5s;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
    background-color: #ffdcd8;
    flex: 1 0 200px;
}

.card-sobre-curiosidades{
    transition: 0.5s;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
    background-color: #83c3ff;
    flex: 1 0 200px;
}

.card-sobre-idiomas{
    transition: 0.5s;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
    background-color: #dff0ff;
    flex: 1 0 200px;
}

.card-sobre-alem{
    transition: 0.5s;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
    background-color: #f1dcff;
    flex: 1 0 200px;
}


/* Card Sobre o site */
.card-sobre-pessoal{
    transition: 0.5s;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
    background-color: #fff59b;
    flex: 1 0 250px;
}



/* Responsivo... */
@media (max-width: 768px) {
    .container-sobre{
        gap: 10px;
        width: 90%;
    }

}  

