/* Google fonts import  */

@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ------ Cores ------ */
  --body-color: rgb(255, 255, 255);
  --text-color: #707070;
}

.imagem-container {
  margin-top: 130px;
}

.imagem-container-paginas {
  margin-top: 200px;
}

.benny {
  text-align: center;
  display: block;
  height: 120px;
  width: 120px;
  margin-bottom: 50px;
  margin-top: -160px;
  margin-left: auto;
  margin-right: auto;
  animation: float 3.5s ease-in-out infinite;
}

.nuvem {
  text-align: center;
  margin-top: 100px;
  display: block;
  height: 120px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  animation: float-nuvem 5s ease-in-out infinite;
}

.container-quote {
  display: flex;
  margin-right: auto;
  text-align: left;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.container-line-cima {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: -10px;
  border-bottom: 1px solid rgb(231, 231, 231);
  width: 800px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.content {
  text-align: center;
  cursor: pointer;
  max-width: 800px;
  width: 800px;
  height: 90px;
  margin-bottom: 10px;
  border-radius: 4px;
  flex-wrap: wrap;
  padding: 20px 20px 20px 20px;
  border: 0.5px solid rgb(131, 131, 131);
  background-color: transparent;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.content:hover {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  height: 100px;
}

a {
  color: #000000;
  text-decoration: none;
}
.container-line {
  border-bottom: 1px solid rgb(179, 179, 179);
  margin-top: 50px;
  width: 800px;
}

/* Content responsivo */
@media (max-width: 768px) {
  a,
  .content {
    margin-top: auto;
    margin-bottom: -6px;
    max-width: 100%;
    padding: 10px;
  }

  .container-line-cima,
  .container-line {
    max-width: 460px;
  }

  blockquote {
    margin-left: auto;
    margin-right: auto;
    max-width: 460px;
    text-align: center;
    margin-bottom: 20px;
  }
}

.content-title {
  font-weight: 400;
  text-align: left;
  font-size: 19px;
}

.content-text {
  text-align: left;
  font-size: 16px;
  color: #8b8b8b;
}

.content-text:hover {
  font-size: 16px;
}

body {
  background: var(--body-color);
  height: 100vh;
}

.expansivel {
  height: 90;
  overflow: hidden;
  transition: height 0.9s ease-out;
}

.expandida {
  height: 900px;
  color: #000000;
}

/* Animação da nuvem */
@keyframes float-nuvem {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
    transform: translateX(5px);
  }
  100% {
    transform: translateY(0px);
    transform: translateX(0px);
  }
}

/* Animação de flutuar */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

h1 {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}

h3 {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}

/* NAV-BAR */

nav {
  top: 0;
  background-color: white;
  color: #000000;
  border-bottom: 1px dashed #d1d1d1;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px;
  position: fixed;
  z-index: 99;
}

nav .logo {
  font-size: 20px;
}

nav .img-logo{
  width: auto;
  margin-left: 5px;
  height: 30px;
  cursor: pointer;
}


nav ul {
  margin-top: 10px;
  display: flex;
  list-style: none;
}

nav ul li {
  font-size: 20px;
  margin-top: 10px;
  margin: 0 10px;
}

nav ul li a {
  color: #616161;
  text-decoration: none;
}

/* -================= */
.conteudo {
  padding: 70px;
}

/* Página de habilidades */

.skills {
  transition: transform 0.1s ease-in-out;
}

.skills:hover {
  cursor: pointer;
  transform: scale(150%);
}

.linha-pontilhada {
  border-top: 1px dashed #8a8a8a;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

@media (max-width: 768px) {
  .linha-pontilhada {
    max-width: 80%;
  }
}

/* Footer */

.footer {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-top: 1px dashed #d1d1d1;
  font-size: 14px;
  margin-top: 50px;
}

.footer-paginas{
  height: 200px;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-top: 1px dashed #d1d1d1;
  font-size: 14px;
  text-justify: auto;
  padding-top: 50px;
  line-height: 0.4;
}

.footer p {
  margin: 0;
  line-height: 1.5;
  color: #666;
}

.footer a {
  color: #333;
  text-decoration: none;
}

/* Página sobre */

.descricao-bernardo {
  margin-left: auto;
margin-right: auto;
width: 800px;
display: flex;
font-size: 20px;
text-align: left;
text-justify: auto;
}

.div-faq {
display: block;
background-color: rgb(241, 241, 241);
padding: 50px;
width: 100%;
height: auto;
text-align: center;
margin-left: 0;
margin-right: 0;
border-top: 1px solid rgb(233, 233, 233);
border-bottom: 2px solid rgb(233, 233, 233);
margin-top: 30px;
}


.accordion-sobre {
padding: 10px;
text-align: center;
margin-top: 2px;
margin-left: auto;
margin-right: auto;
border-radius: 5px;
border: 1px solid rgb(207, 207, 207);
background-color: white;
width: 798px;
height: 45px;
}

.content-accordion-sobre {
text-align: left;
font-size: 18px;
font-weight: bolder;
}

@media (max-width: 768px) {
.accordion-sobre {
  width: 100%;
}

.descricao-bernardo{
  width: 80%;
}
}

.accordion-sobre:hover {
cursor: pointer;
background-color: rgb(236, 236, 236);
}




/* Certificações */

.title-certificado{
  text-align: center;
  font-size: 19px;
  background-color: #ffffff;  
  border: 1px solid rgb(168, 168, 168, 0.5);
  padding-bottom: 10px;
  width: 200px;
  height: 35px;
  border-radius: 5px;
  margin-top: -70px;
  margin-left: 10%;
  margin-right: auto;
  transition: 1s;
  
}

.title-certificado-direita{
  text-align: center;
  font-size: 19px;
  background-color: #ffffff;  
  border: 1px solid rgb(168, 168, 168, 0.5);
  padding-bottom: 10px;
  width: 200px;
  height: 35px;
  border-radius: 5px;
  margin-top: -70px;
  margin-left: auto;
  margin-right: 10%;
  
}

@media (max-width: 768px) {
 .title-certificado-direita,
 .title-certificado{
  margin-left: auto;
  margin-right: auto;
 }
}

.sessao-certificado{
  display: block;
  background-color: rgb(241, 241, 241);
  padding: 50px;
  width: 100%;
  height: auto;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  border-top: 1px solid rgb(233, 233, 233);

  margin-top: 30px;
}

.sessao-certificado-continua{
  display: block;
  background-color: rgb(241, 241, 241);
  padding: 50px;
  width: 100%;
  height: auto;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  border-top: 1px solid rgba(216, 216, 216, 0.5);
}

.certificado{
  display: inline;
  margin-right: auto;
  margin: 15px;
  align-items: center;
  height: 200px;
  width: auto;
  box-shadow:rgb(168, 168, 168, 0.5);
  margin-top: 60px;
  margin-bottom: 30px;
  transition: 0.5s;
}

.certificado-alura{
  display: inline;
  margin-right: auto;
  margin: 15px;
  align-items: center;
  height: 200px;
  border-radius: 5px;
  width: auto;
  margin-top: 60px;
  margin-bottom: 30px;
  transition: 0.5s;
}

.certificado-alura:hover{
  transform:rotateX(180deg);
  cursor: pointer;
  scale: 120%;
}

.certificado-alura:active{
  transform:rotateY(180deg);
  color: #000;
  cursor: pointer;
  scale: 120%;
}


.certificado:hover{
  cursor: pointer;
  scale: 120%;
}

@media (max-width: 768px) {
  .certificado,
  .certificado-alura{
   margin-bottom: 10px;
  }
 }